---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
---

<BaseLayout title="À propos | Jérémy Cartallier" description="Page à propos Jérémy Cartallier">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Une description de mon parcours professionnel et de mes compétences."
			>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						J'ai débuté le développement par une formation généraliste à l'IUT qui m'a fait découvrir l'informatique de manière théorique.
					</p>
					<p>
						Mes différentes expériences professionnelles m'ont ensuite permis de me spécialiser dans le développement web. J'ai ainsi intégré une ESN et rejoint leur BU e-commerce. J'ai pu développer en équipe sur des projets d'envergures.
					</p>
					<p>
						Depuis 2 ans, j'ai décidé de me mettre à mon compte en tant que développeur indépendant et formateur.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>DUT Informatique à l'IUT Lyon 1</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content skills-container">
					<div>
						<span>Front-end</span>
						<div class="skills">
							<Pill>HTML/CSS</Pill>
							<Pill>SASS</Pill>
							<Pill>Tailwind</Pill>
							<Pill>JS/TS</Pill>
							<Pill>jQuery</Pill>
							<Pill>Webpack</Pill>
							<Pill>Babel</Pill>
							<Pill>Vite</Pill>
							<Pill>Jest/Vitest</Pill>
							<Pill>React</Pill>
							<Pill>Storybook</Pill>
							<Pill>Redux</Pill>
							<Pill>Zustand</Pill>
							<Pill>Next.js</Pill>
						</div>
					</div>
					<div>
						<span>Back-end</span>
						<div class="skills">
							<Pill>PHP</Pill>
							<Pill>Nodejs</Pill>
							<Pill>Express</Pill>
							<Pill>SQL</Pill>
							<Pill>MongoDB</Pill>
							<Pill>JWT</Pill>
						</div>
					</div>
					<div>
						<span>Meta projet</span>
						<div class="skills">
							<Pill>Git/Github</Pill>
							<Pill>Scrum</Pill>
							<Pill>Git/Github</Pill>
							<Pill>Docker</Pill>
							<Pill>CI/CD</Pill>
						</div>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.skills-container {
		display: flex;
        flex-direction: column;
		gap: 13px;
	}
	.skills {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		margin-top: 10px;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
